@import "./../../styles.scss";

header {
    width: 100%;
    height: 96px;
    @include dFlex($jc: space-between);
    @include max-width();
    padding: 0 clamp(12px, 6vw, 96px);

    div {
        overflow: visible;
        transition: all 100ms ease-in;
        cursor: pointer;
        z-index: 500;

        .text-logo {
            padding-left: 6px;

            @media (max-width: 576px) {
                display: none;
            }
        }

        &:hover {
            transform: scale(1.05);
        }

        img {
            height: clamp(18px, 4vw, 20px);
        }

        button {
            @include dFlex($g: 6px);
            @include button();
        }
    }

}