<section>
    <div class="reset-password-container">
        <h2>Reset password</h2>
        <span>Create a new password for your Videoflix account.</span>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" name="contactForm">
            <div class="input-group">
                <input #password="ngModel" [(ngModel)]="contactData.password"
                    [type]="passwordVisible ? 'text' : 'password'" placeholder="Enter a password" name="password"
                    required minlength="8">
                <img [src]="passwordVisible ? 'assets/icons/visibility.svg' : 'assets/icons/visibility_off.svg'"
                    class="toggle-password" (click)="togglePasswordVisibility('password')">
            </div>
            @if (password.touched && password.errors) {
            <div class="error">
                @if (password.errors['required']) {
                <img src="assets/icons/warning.svg" alt="">
                password is required
                }
                @if (password.errors['minlength']) {
                <img src="assets/icons/warning.svg" alt="">
                password needs to be at least 8 capitals
                }
            </div>
            }
            <div class="input-group">
                <input #confirmPassword="ngModel" [(ngModel)]="contactData.repeated_password"
                    [type]="confirmPasswordVisible ? 'text' : 'password'" placeholder="Confirm password"
                    name="confirmPassword" required>
                <img [src]="confirmPasswordVisible ? 'assets/icons/visibility.svg' : 'assets/icons/visibility_off.svg'"
                    class="toggle-password" (click)="togglePasswordVisibility('confirmPassword')">
            </div>
            @if (confirmPassword.touched && contactData.password !== contactData.repeated_password) {
            <div class="error">
                <img src="assets/icons/warning.svg" alt="">
                passwords do not match
            </div>
            }
            <button [disabled]="!contactForm.valid || contactData.password !== contactData.repeated_password"
                type="submit">Reset my password</button>
        </form>
    </div>
</section>