<section>
    <div class="imprint-container">
        <h1>Impressum</h1>
        <p><strong>Angaben gemäß § 5 TMG:</strong></p>
        <p><strong>Vertreten durch:</strong> Anja Gollner</p>
        <p><strong>Adresse:</strong>8230 Hartberg, Österreich</p>
        <p><strong>Telefon:</strong> +43 7930 039234</p>
        <p><strong>E-Mail:</strong> officeatmail.at</p>

        <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong></p>
        <p>Anja Gollner, 8230 Hartberg</p>
    </div>
</section>